In [18]:
import pandas as pd
import numpy as np

In [19]:
# 1、读取数据
path = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"
column_name = ['Sample code number', 'Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape',
                   'Marginal Adhesion', 'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
                   'Normal Nucleoli', 'Mitoses', 'Class']

data = pd.read_csv(path, names=column_name)

In [20]:
data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [21]:
# 2、缺失值处理
# 1）替换-》np.nan
data = data.replace(to_replace="?", value=np.nan)
# 2）删除缺失样本
data.dropna(inplace=True)

In [22]:
print(data.isnull().any())

Sample code number             False
Clump Thickness                False
Uniformity of Cell Size        False
Uniformity of Cell Shape       False
Marginal Adhesion              False
Single Epithelial Cell Size    False
Bare Nuclei                    False
Bland Chromatin                False
Normal Nucleoli                False
Mitoses                        False
Class                          False
dtype: bool

In [23]:
# 3、划分数据集
from sklearn.model_selection import train_test_split

In [24]:
data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [25]:
# 筛选特征值和目标值
x = data.iloc[:, 1:-1]
y = data["Class"]

In [26]:
x.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1

In [27]:
print(y.head())

0    2
1    2
2    2
3    2
4    2
Name: Class, dtype: int64

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [29]:
x_train.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
51,5,3,3,4,2,4,3,4,1
304,8,3,4,9,3,10,3,3,1
87,3,6,6,6,5,10,6,8,3
298,8,2,1,1,5,1,1,1,1
630,6,2,3,1,2,1,1,1,1

In [30]:
# 4、标准化
from sklearn.preprocessing import StandardScaler

In [31]:
transfer = StandardScaler()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

In [32]:
print(x_train)

[[ 0.18580649 -0.0358888  -0.06718586 ... -0.17939874  0.37985969
  -0.33872248]
 [ 1.24676848 -0.0358888   0.27006082 ... -0.17939874  0.04853403
  -0.33872248]
 [-0.5215015   0.96638763  0.94455418 ...  1.0562805   1.70516234
   0.84912623]
 ...
 [-0.1678475  -0.70407309 -0.74167923 ... -1.00318491 -0.61411729
  -0.33872248]
 [-0.5215015  -0.70407309 -0.74167923 ... -1.00318491 -0.61411729
  -0.33872248]
 [-0.5215015  -0.70407309 -0.74167923 ... -0.59129183 -0.61411729
  -0.33872248]]

In [33]:
from sklearn.linear_model import LogisticRegression

In [34]:
# 5、预估器流程
estimator = LogisticRegression()
estimator.fit(x_train, y_train)

d:\users\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:
# 逻辑回归的模型参数：回归系数和偏置
print(estimator.coef_)

array([[ 1.25515012, -0.08230283,  0.91245616,  0.53659613,  0.00194236,
         1.31176698,  1.04237995,  0.81023571,  0.69510059]])

In [36]:
print(estimator.intercept_)

array([-1.12859526])

In [37]:
# 6、模型评估
# 方法1：直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接比对真实值和预测值:\n", y_test == y_predict)

# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为：\n", score)

y_predict:
 [2 2 4 4 4 2 2 2 2 4 4 2 4 4 2 2 2 2 2 2 2 2 2 2 4 2 2 4 4 4 2 2 4 2 2 2 2
 2 4 2 4 4 2 4 2 4 2 2 2 2 4 2 2 2 4 2 2 2 2 4 2 4 4 4 2 2 4 4 4 2 4 2 2 4
 4 4 4 2 4 2 4 2 2 2 2 2 2 4 4 2 2 4 2 2 2 2 2 2 2 2 4 2 2 2 2 2 4 4 2 4 2
 4 2 2 2 2 4 4 4 4 4 2 4 2 2 2 2 2 2 4 4 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2 2 2
 2 4 2 2 2 4 2 2 4 2 4 4 4 2 2 4 4 2 2 2 2 2 2]
直接比对真实值和预测值:
 163     True
690     True
206     True
179     True
440     True
525     True
34      True
276     True
335     True
483     True
574     True
327     True
487     True
56      True
134     True
468     True
193     True
75      True
129     True
116     True
451     True
28      True
443     True
501     True
697     True
182     True
572     True
506     True
493     True
523     True
       ...
399     True
337     True
579     True
17      True
314     True
189     True
431     True
16      True
49      True
407     True
338     True
29      True
264     True
140     True
348    False
98      True
274     True
14      True
296    False
626     True
248     True
458     True
233     True
183     True
265     True
48      True
614     True
43     False
269     True
677     True
Name: Class, Length: 171, dtype: bool
准确率为：
 0.9707602339181286

In [39]:
# 查看精确率、召回率、F1-score
from sklearn.metrics import classification_report

In [40]:
report = classification_report(y_test, y_predict, labels=[2, 4], target_names=["良性", "恶性"])

In [41]:
print(report)

              precision    recall  f1-score   support

          良性       0.96      0.99      0.98       110
          恶性       0.98      0.93      0.96        61

    accuracy                           0.97       171
   macro avg       0.97      0.96      0.97       171
weighted avg       0.97      0.97      0.97       171

In [33]:
y_test.head()

432    2
256    2
203    2
281    2
588    4
Name: Class, dtype: int64

In [42]:
# y_true：每个样本的真实类别，必须为0(反例),1(正例)标记
# 将y_test 转换成 0 1
y_true = np.where(y_test > 3, 1, 0)

In [43]:
print(y_true)

[0 0 1 1 1 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0 0 1 0 0 0 0
 0 1 0 1 1 0 1 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 1 1 1 0 0 1 1 1 0 1 0 0 1
 1 1 1 0 1 0 1 0 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 1 0 1 0
 1 0 0 0 0 1 1 1 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0
 0 1 0 0 0 1 0 1 1 0 1 0 1 0 0 1 1 0 0 0 1 0 0]

In [44]:
from sklearn.metrics import roc_auc_score

In [45]:
print(roc_auc_score(y_true, y_predict))

0.9626676602086438