# 数值运算操作

In [2]:
import pandas as pd

In [4]:
# 创建DataFrame格式数据，指定他的行索引名称和列索引名称
df = pd.DataFrame([[1,2,3],[4,5,6]],index=['a','b'],columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6

In [6]:
# 默认按列求和计算
print(df.sum())

A    5
B    7
C    9
dtype: int64

In [7]:
print(df.sum(axis=0))

A    5
B    7
C    9
dtype: int64

In [8]:
# 按行求和计算
print(df.sum(axis=1))

a     6
b    15
dtype: int64

In [9]:
print(df.sum(axis='columns'))

a     6
b    15
dtype: int64

In [10]:
# 均值
print(df.mean(axis=1))

a    2.0
b    5.0
dtype: float64

In [11]:
print(df.min())
print(df.max())

A    1
B    2
C    3
dtype: int64
A    4
B    5
C    6
dtype: int64

In [10]:
# 中值计算
print(df.median())

A    2.5
B    3.5
C    4.5
dtype: float64

### 二元统计

In [12]:
df = pd.read_csv('./data/titanic.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [12]:
# 斜方差
print(df.cov())

              PassengerId  Survived     Pclass         Age      SibSp  \
PassengerId  66231.000000 -0.626966  -7.561798  138.696504 -16.325843
Survived        -0.626966  0.236772  -0.137703   -0.551296  -0.018954
Pclass          -7.561798 -0.137703   0.699015   -4.496004   0.076599
Age            138.696504 -0.551296  -4.496004  211.019125  -4.163334
SibSp          -16.325843 -0.018954   0.076599   -4.163334   1.216043
Parch           -0.342697  0.032017   0.012429   -2.344191   0.368739
Fare           161.883369  6.221787 -22.830196   73.849030   8.748734

                Parch         Fare
PassengerId -0.342697   161.883369
Survived     0.032017     6.221787
Pclass       0.012429   -22.830196
Age         -2.344191    73.849030
SibSp        0.368739     8.748734
Parch        0.649728     8.661052
Fare         8.661052  2469.436846

In [13]:
# 相关系数
print(df.corr())

             PassengerId  Survived    Pclass       Age     SibSp     Parch  \
PassengerId     1.000000 -0.005007 -0.035144  0.036847 -0.057527 -0.001652
Survived       -0.005007  1.000000 -0.338481 -0.077221 -0.035322  0.081629
Pclass         -0.035144 -0.338481  1.000000 -0.369226  0.083081  0.018443
Age             0.036847 -0.077221 -0.369226  1.000000 -0.308247 -0.189119
SibSp          -0.057527 -0.035322  0.083081 -0.308247  1.000000  0.414838
Parch          -0.001652  0.081629  0.018443 -0.189119  0.414838  1.000000
Fare            0.012658  0.257307 -0.549500  0.096067  0.159651  0.216225

                 Fare
PassengerId  0.012658
Survived     0.257307
Pclass      -0.549500
Age          0.096067
SibSp        0.159651
Parch        0.216225
Fare         1.000000

In [17]:
# value_counts(): 统计指定列下各个数值出现的次数，默认降序排序 设置升序排序
# 计算一等舱，二等舱，三等舱分别有多少人
print(df['Pclass'].value_counts(ascending=True))

2    184
1    216
3    491
Name: Pclass, dtype: int64

In [13]:
# bins: 将数据按照指定的数值进行分组划分
print(df['Age'].value_counts(ascending = True,bins = 5))

(64.084, 80.0]       11
(48.168, 64.084]     69
(0.339, 16.336]     100
(32.252, 48.168]    188
(16.336, 32.252]    346
Name: Age, dtype: int64

In [20]:
print(df['Age'].count())

714

In [14]:
print(df['Pclass'].count())

891

In [22]:
# help() 显示某个命令使用方法
print(help(pd.value_counts))

Help on function value_counts in module pandas.core.algorithms:

value_counts(values, sort=True, ascending=False, normalize=False, bins=None, dropna=True)
    Compute a histogram of the counts of non-null values.

    Parameters
    ----------
    values : ndarray (1-d)
    sort : boolean, default True
        Sort by values
    ascending : boolean, default False
        Sort in ascending order
    normalize: boolean, default False
        If True then compute a relative histogram
    bins : integer, optional
        Rather than count values, group them into half-open bins,
        convenience for pd.cut, only works with numeric data
    dropna : boolean, default True
        Don't include counts of NaN

    Returns
    -------
    value_counts : Series

None