In [1]:
import pandas as pd
import numpy as np

In [9]:
dates = pd.date_range('20170101',periods=6)
df1 = pd.DataFrame(np.arange(24).reshape(6,4),index=dates,
            columns=['A','B','C','D'])
print(df1)

             A   B   C   D
2017-01-01   0   1   2   3
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15
2017-01-05  16  17  18  19
2017-01-06  20  21  22  23

In [13]:
print(df1['A'])

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int32

In [12]:
print(df1.A)

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int32

In [14]:
print(df1[:2])

            A  B  C  D
2017-01-01  0  1  2  3
2017-01-02  4  5  6  7

In [17]:
print(df1['20170103':'20170104'])

             A   B   C   D
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15

In [21]:
# 通过标签选择数据
print(df1.loc['20170104'])

A    12
B    13
C    14
D    15
Name: 2017-01-04 00:00:00, dtype: int32

In [20]:
print(df1.loc['20170104',['A','C']])

A    12
C    14
Name: 2017-01-04 00:00:00, dtype: int32

In [22]:
print(df1.loc[:,['A','B']])

             A   B
2017-01-01   0   1
2017-01-02   4   5
2017-01-03   8   9
2017-01-04  12  13
2017-01-05  16  17
2017-01-06  20  21

In [23]:
print(df1.iloc[2]) # 通过位置选择数据

A     8
B     9
C    10
D    11
Name: 2017-01-03 00:00:00, dtype: int32

In [24]:
print(df1.iloc[[1,2,4],[1,3]])

             B   D
2017-01-02   5   7
2017-01-03   9  11
2017-01-05  17  19

In [31]:
#混合标签位置选择
# print(df1.ix[2:4,['A','C']])
# print(df1.ix['20170102':'20170104',2:4])

In [33]:
print(df1.A)
print(df1.A>6)

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int32
2017-01-01    False
2017-01-02    False
2017-01-03     True
2017-01-04     True
2017-01-05     True
2017-01-06     True
Freq: D, Name: A, dtype: bool

In [34]:
print(df1[df1.A>6])

             A   B   C   D
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15
2017-01-05  16  17  18  19
2017-01-06  20  21  22  23